.contactForm {
  display: flex;
  gap: 15px;
  margin-top: 30px;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: flex-end;
}

.addContact {
  background-color: #000000;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addContact:hover {
  background-color: #fff;
  color: #000000;
}

.contactInput {
  padding: 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.contactInput:focus {
  border-color: #000000;
  outline: none;
}

.contactLabel {
  font-size: 20px;
}
